//- Generations from https://realfavicongenerator.net/
//- link(rel="apple-touch-icon" sizes="180x180" href=`/favicon/apple-touch-icon.png?${env.time}`)
//- link(rel="icon" type="image/png" sizes="32x32" href=`/favicon/favicon-32x32.png?${env.time}`)
//- link(rel="icon" type="image/png" sizes="16x16" href=`/favicon/favicon-16x16.png?${env.time}`)
//- link(rel="manifest" href=`/favicon/site.webmanifest?${env.time}`)
//- link(rel="mask-icon" href=`/favicon/safari-pinned-tab.svg?${env.time}` color="#5bbad5")
//- link(rel="shortcut icon" href=`/favicon/favicon.ico?${env.time}`)
//- meta(name="msapplication-TileColor" content="#da532c")
//- meta(name="msapplication-config" content=`/favicon/browserconfig.xml?${env.time}`)
//- meta(name="theme-color" content="#ffffff")
